@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  text-align: center;
  background-image: url("fond.jpg");
  font-family: 'Oswald', sans-serif;}

p {
  font-size: 125%;
}

h1 + p {
  font-size: 50%;
}

h1 {
  font-size: 250%;
  color: #fcff00;
  text-shadow: 3px -3px 4px #c9ff5b;
}

.petit {
  font-size: 75%;
}
