body {
  text-align: center;
  background-image: url("fond.jpg");
}
h1 + p {
  font-size: 40%;
}
h1 {
  color: yellow;
  text-shadow: 3px -3px 4px #c9ff5b;
  font-size: 250%;
}

.petit {
  font-size: 1%;
}
p {
  font-size: 120%;
}